h1 {
    text-align: center;
}
.scoreboard {
    margin: 0 auto;
    font-size: 24px;
}
.tic-tac-toe {
    margin-top: 3rem;
}
span {
    display: inline-block;
    background-color: aquamarine;
    height: 100px;
    width: 100px;
    margin-right: .5rem;
    margin-top: .5rem;
}
.top-row, .middle-row, .bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.top-left, .top-middle, .top-right, .middle-left, .middle, .middle-right, .bottom-left, .bottom-middle, .bottom-right {
    border-radius: 10px;
}
.top-left:hover, .top-middle:hover, .top-right:hover, .middle-left:hover, .middle:hover, .middle-right:hover, .bottom-left:hover, .bottom-middle:hover, .bottom-right:hover {
    background-color: lightblue;
    cursor: pointer;
}