h1 {
    text-align: center;
}
hr {
    width: 25%;
    margin-bottom: 1rem;
}
.numberOfPlayers {
    text-align: center;    
}
.player-numbers {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.player-number {
    font-size: 15px;
    height: 50px;
    width: 100px;
    margin-right: 1rem;
}
.player-one, .player-two, .submit-button {
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}
.scoreboard {
    display: none;
    margin: 0 auto;
    font-size: 24px;
}
.player-one-score, .player-two-score {
    border: solid black 2px;
    padding: 5px;
}
.player-names {
    border: solid black 2px;
    padding: 5px;
}
.player-one-scoreboard, .player-two-scoreboard {
    border: solid black 2px;
    padding: 5px;
    text-align: center;
}
.tic-tac-toe {
    display: none;
    margin-top: 1rem;
}
span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    height: 100px;
    width: 100px;
    margin-right: .5rem;
    margin-top: .5rem;
}
.x {
    position: absolute;
    color: black;
    font-size: 35px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.top-row, .middle-row, .bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.top-left, .top-middle, .top-right, .middle-left, .middle, .middle-right, .bottom-left, .bottom-middle, .bottom-right {
    border-radius: 10px;
}
.top-left:hover, .top-middle:hover, .top-right:hover, .middle-left:hover, .middle:hover, .middle-right:hover, .bottom-left:hover, .bottom-middle:hover, .bottom-right:hover {
    background-color: lightblue;
    cursor: pointer;
}
.new-game, .restart-game {
    display: none;
    margin-left: 1rem;
    margin-right: 1rem;
}
.change-names {
    display: none;
}
.buttons {
    display: flex;
    justify-content: center;
}
.player-question {
    display: none;
    text-align: center;
}
.player-buttons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.player-one-button {
    display: none;
    margin-right: 1rem;
}
.player-two-button {
    display: none;
    margin-left: 1rem;
}
.player-one-input, .player-two-input {
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}
.player-one-submit, .player-two-submit {
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}
.bottom-text {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    bottom: 0;
    font-size: 10px;
}